# Django
# Gere uma chave propria para uso local/producao.
SECRET_KEY=

# Em desenvolvimento/local normalmente use True.
DEBUG=True

# Inclua localhost e, se for usar em rede local, o IP da maquina.
# Exemplo:
# ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0,192.168.1.197
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0
